
<header>
    <nav class="header-nav">
        <a  class="header-title" href="/">Tnmedrec</a>
        <ul>
            <li><a  class="header-link" href="/doctors">Doctors</a></li>
            <li><a class="header-link" href="/doctors/register">Doctor Register</a></li>
            <li><a class="header-link" href="/login">Doctor Login</a></li>
            <li><a class="header-link" href="/" onClick={this.logOut.bind(this)}
                className="nav-link">Logout</a>
            </li>
            <li><a class="header-link" href="/patients">Patients</a></li>
            <li><a class="header-link" href="/patients/register">Patient Register</a></li>
            <li><a class="header-link" href="/consultation/col">New Consultation</a></li>
        </ul>
    </nav>
</header>