<div class="form-row">
    <div class="form-item">
      <label>Email</label>
      <input type="text" name="email" value="<%= doctor.email %>">
    </div>
    <div class="form-item">
      <label>Password</label>
      <input type="password" name="password" value="<%= doctor.password %>">
    </div>
  </div>