<h2>Doctor Login</h2>
<form action="/login" method="POST">
    <%- include('_login_fields') %>
    <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/doctors">Cancel</a>
    <button class="btn btn-primary" type="submit">Login</button>
  </div>
  </div>
</form>