<h2 >New Doctor</h2>
<form action="/doctors" method="POST">
    <%- include('_form_fields') %>
    <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/doctors">Cancel</a>
    <button class="btn btn-primary"  type="submit">Create</button>
  </div>
</div>
</form>